body {
padding-top: 70px;
font-family: 'Abel';
}

#A {
background-color: rgb(242, 244, 247); 
}

#B {
background-color: rgb(6, 186, 143);
}

#C {
background-color: rgb(255, 255, 255);
}

#D {
background-color: rgb(242, 244, 247); 
}

#E {
background-color: rgb(20, 28, 38);
}


.container {
height: 500px;
padding-top: 50px;
padding-bottom: 50px;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
    height: 70px; 
}
.navbar-brand {
    float:none;
    padding: 0px;
    margin-top: 10px;
    height: 50px;
    vertical-align:baseline;
}

.footer {
height: 200px;
padding-top: 50px;
padding-bottom: 50px;
}

.btn-group {
margin-top: 30px;
}